body {
  margin: 0px;
	padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
	font-family: American Typewriter, serif;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Times New Roman', Times, serif;
}

.navbar {
  background-color: rgba(105, 199, 236, 0.657);
  height: 180px;
  padding: 20px, 20px, 20px, 20px;
  font-family: American Typewriter, serif;
  font-size: 34px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.site-title{
  margin-top: 0px;
  padding-top: 5px;
  margin-bottom: 15px;
  text-decoration: none;
  font-family: American Typewriter, serif;
}

.App{
  font-family: American Typewriter, serif;
}

.home > h2{
  font-size: 30px;
  padding-bottom: 10px;
  background-color: white;
}

.listsDiv{
	display: flex;
	flex-wrap: wrap;
  margin: auto;
  justify-content: center;
	padding: 10px 10px 10px 10px;
}

.listCards{
  background-image: url("https://getwallpapers.com/wallpaper/full/4/d/5/1085195-gorgerous-grid-wallpaper-1920x1200-desktop.jpg");
  width:400px;
  padding: 10px 10px 10px 10px;
  margin: auto;
  font-size: 20px;

}

.listCardsDiv{
  padding: 50px 50px 50px 50px;
  background-image: url('https://c1.wallpaperflare.com/preview/907/581/284/backdrop-background-blank-board.jpg');
  
}

.listCardsCaption{
  background-color:rgba(105, 199, 236, 0.657);
  opacity: 1.0;
  padding-bottom: 10px;
}
.listCardsCaption>p{
  font-size: 44px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.newList>form>h2{
  margin-top: 0px;
}

.footer {
  background-color: rgb(169, 130, 187);
  opacity: 0.5;
  color: white;
  
}

.footer>p{
  margin:0px;
  padding:0px;
}

body {
	text-align: center;
	font-family: Tahoma, sans-serif;
	margin: 0px;
	padding: 0px;
}

button {
	background-color: black;
	color: white;
  padding:5px;
	border-radius: 70%;
	border-width: 2px;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;
  margin: 5px;
  font-variant: small-caps;
}

button:hover {
	background-color: black;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.newList{
  background-image:  url("https://getwallpapers.com/wallpaper/full/4/d/5/1085195-gorgerous-grid-wallpaper-1920x1200-desktop.jpg");
  padding: 10px, 10px, 10px, 10px;
  font-weight: bold;
  font-size: 20px;
}

.headerButton{
  border-radius: 10%;
}

.boredBoard{
  background-image:  url("https://getwallpapers.com/wallpaper/full/4/d/5/1085195-gorgerous-grid-wallpaper-1920x1200-desktop.jpg");
}
.boredBoard>span>h2{
  font-size: 28px;
}
.boredBoard>h3{
  font-size: 22px;
  font-weight: bolder;
}
.boredBoard>span>p>div{
  font-size: 22px;
  font-weight: bolder;
}

.home {
  background-image: url('https://c1.wallpaperflare.com/preview/907/581/284/backdrop-background-blank-board.jpg');
}